.about-top {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    padding: 20px 0 0 14px;

    &__text-header {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        background: $colorGradRedText;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        /*text-fill-color: transparent;*/
        padding-bottom: 28px;
    }

    &__text-body {
        font-weight: 400;
        font-size: 19px;
        line-height: 30px;
        padding-bottom: 20px;
    }



    &__card {
        padding-left: 32px;
        padding-top: 8px;
        padding-bottom: 30px;
        border-left: solid 4px $colorDots;
    }

    &__card-top {
        display: flex;
        padding-bottom: 12px;
        padding-left: 2px;
        align-items: center;

        &-text {
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            text-align: center;
            background: $colorGradRedText;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            padding-left: 10px;
        }
    }


    &__cards-list {
        list-style: none;
        padding-left: 0;
    }

    &__cards-list li:last-child {
        padding-bottom: 0;
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {
    .about-top {
        padding: 65px 45px 30px 45px;


        &__text-header {
            padding-bottom: 28px;
            font-size: 38px;
            line-height: 46px;
        }

        &__text-body {
            font-weight: 400;
            font-size: 19px;
            line-height: 30px;
            padding-bottom: 20px;
        }

        &__card {
            padding-top: 10px;
            padding-bottom: 29px;
            padding-left: 30px;
        }

        &__card-top {
            padding-bottom: 10px;
        }

    }

}

@media (min-width: 1024px) {
    .about-top {
        padding: 32px 0 40px 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content;

        &__cards {
            padding-left: 20px;
        }

        &__card {
            padding-top: 0;
            padding-bottom: 40px;

        }
    }
}

@media (min-width: 1200px) {
    .about-top {
        grid-template-columns: 1.65fr 1fr;
        padding-left: 120px;
        padding-right: 120px;

        &__text {
            width: 662px;
        }
    }
}