.about-slider {
    background-color: $colorBg;
    padding: 0 25px 0 25px;


    &__header {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $colorMain;
        text-align: center;
        padding: 30px 0;

    }

    &__pics {
        display: flex;
        justify-content: center;
        padding-bottom: 25px;
    }

    &__pics div:not(:first-of-type) {
        display: none;
    }

    &__bg-pic {
        background-color: #FFFFFF;
        padding: 22px 100px;
        border-radius: 12px;
    }

    &__pic {
        max-height: 40px;
    }

    &__dots {
        border-bottom: solid 2px #E6E6F0;
        display: flex;
        justify-content: center;
        padding-bottom: 29px;
    }

    &__btn {
        cursor: pointer;
        background-color: #D3EDFF;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: none;
        margin: 0 7px;
        font-size: 0;
    }

    &__btn-active {
        background-color: #24A3FF;
    }

    &__btn:not(.about-slider__btn-active):hover {
        background-color: #7CC8FF;
    }

}

@media (min-width: 768px) {
    .about-slider {
        padding: 0 30px 0 60px;
        &__pics {
            display: flex;
            justify-content: center;
        }

        &__bg-pic {
            display: flex;
            justify-content: center;
            width: 25%;
            padding: 24px 0;
            margin: 0 20px;
        }

        &__pic {
            max-width: 100%;
            height: 100%;
        }

        &__pics div:not(:first-of-type) {
            display: flex;
        }

        &__dots li:nth-child(even) {
            display: none;
        }
    }
}

@media (width:1024px) {
    .about-slider {
        padding: 0;

        &__pics {
            justify-content: flex-start;
        }

        &__pic {
            max-height: 60px;
            width: auto;
            
        }

        &__bg-pic {
            margin: 0 20px;
        }
    }

}

@media (width: 1440px) {
    .about-slider {
        margin: 0 auto;
        padding: 0 40px;
        max-width: 100%;

        &__pics {
            justify-content: flex-start;
        }

        &__pic {
            max-height: 60px;
            width: auto;
            
        }

        &__bg-pic {
            margin: 0 20px;
        }
    }

}
