.about-slider {
    background-color: $colorBg;

    &__header {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $colorMain;
        text-align: center;
        padding: 30px 0;

    }

    &__pics {
        display: flex;
        justify-content: center;
        padding-bottom: 25px;
    }

    &__bg-pic:not(:first-child) {
        display: none;
    }

    &__bg-pic {
        background-color: #FFFFFF;
        padding: 22px 100px;
        border-radius: 12px;
    }

    &__pic {
        max-height: 40px;
    }

    &__dots {
        border-bottom: solid 2px #E6E6F0;
        display: flex;
        justify-content: center;
        padding-bottom: 29px;
    }

    &__btn {
        cursor: pointer;
        background-color: #D3EDFF;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: none;
        margin: 0 7px;
        font-size: 0;
    }

    &__btn-active {
        background-color: #24A3FF;
    }

    &__btn:not(.about-slider__btn-active):hover {
        background-color: #7CC8FF;
    }

}

@media (min-width: 768px) {
    .about-slider {
        &__header {
            padding-bottom: 27px;
        }

        &__pics {
            display: grid;
            grid-template-columns: repeat(4, min(132px));
            column-gap: 40px;
            padding-bottom: 25px;
        }

        &__bg-pic:not(:first-child) {
            display: flex;
        }

        &__bg-pic {
            padding: 25px 0;
        }

        &__pic {
            display: block;
            margin: 0 auto;

        }

        &__dots li:nth-child(even) {
            display: none;
        }
    }
}

@media (min-width:1024px) {
    .about-slider {
        padding: 0;
        max-width: 100%;

        &__pics {
            grid-template-columns: repeat(4, 1fr);

        }

        &__pic {
            min-height: 60px;
            width: auto;
        }
    }
}

@media (min-width:1200px) {
    .about-slider {
        padding: 0;
        max-width: 100%;

        &__pics {
            grid-template-columns: repeat(4, 1fr);
        }

        &__pic {
            min-height: 60px;
            width: auto;

        }

    }

}