.footer {
    background: $colorBg;

    &__body {
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px;
        grid-template-rows: repeat(3, min-content);

    }

    &__top,
    &__midle {
        display: grid;
        justify-items: center;
    }

    a {
        text-decoration: none;
        transition-duration: 700ms;
    }

    &__top,
    &__btn,
    &__mail {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $colorMain;
        margin-bottom: 10px;
    }

    &__top {
        font-weight: 400;
    }

    &__top-adr {
        padding-bottom: 10px;
    }


    &__btn {
        font-weight: 400;
        color: $colorSeparator;
    }

    &__map {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $colorRegular;
        margin-bottom: 10px;
    }

    &__fb {
        margin-bottom: 7px;
    }

    &__fb:hover path {
        fill: $colorAccent;
        transition-duration: 700ms;
        transition-property: fill;
    }

    &__tel {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        color: $colorMainAlt;
        margin-bottom: 10px;
    }

    &__mail {
        color: $colorRegular;
        margin-bottom: 30px;
    }

    &__mail:hover,
    &__map:hover {
        color: $colorAccent;
    }

}

@media (min-width: 768px) {
    .footer {
        &__container {
            display: flex;
            justify-content: center;
        }

        &__top,
        &__midle {
            justify-items: flex-start;
        }

        &__top {
            grid-template-columns: repeat(2, 1fr);
        }

        &__midle {
            grid-template-columns: min-content 1fr 2fr;
        }

        &__midle>a {
            margin: 0;
            padding-bottom: 30px;
        }

        &__map,
        &__tel,
        &__mail {
            display: flex;
            align-items: center;
            text-align: center;
        }

        &__map::before,
        &__tel::before,
        &__mail::before {
            content: '';
            width: 6px;
            height: 6px;
            background: $colorText;
            border-radius: 50%;
            margin: 0 10px;
        }

        &__btn {
            padding-left: 61px;
        }
    }
}


@media (min-width: 1024px) {
    .footer {
        &__container {
            display: grid;
            grid-template-columns: 1fr;
        }

        &__body {
            grid-template-columns: 450px 1fr;
            grid-template-rows: repeat(2, min-content);
            padding: 30px 45px;
            max-width: 100%;
        }

        &__top {
            grid-template-columns: auto 1fr;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        &__midle {
            grid-template-columns: min-content 1fr 2fr;
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        &__btn {
            padding-left: 43px;
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            display: flex;
            justify-content: flex-end;

            &--dt-hd {
                padding-right: 30px;
            }
        }
    }
}

@media (min-width: 1200px) {
    .footer {
        &__body {
            padding: 30px 0;
        }

        &__top {}

        &__midle {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        &__btn {
            padding-left: 0px;
            justify-self: flex-end;

            &--dt-hd {
                padding-right: 30px;
            }
        }
    }
}