.services__hider {
    padding-top: 15px;
}

@media (min-width:768px) {

    .services__hider {
        padding-top: 0;
    }

    .header-logo--dark-theme {
        p {
            font-size: 36px;
            line-height: 44px;
        }
    }
}