.publications::after {
    display: none;
}

.service-entry {
    &__top {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 20px;

        &-text {
            padding-bottom: 0;
        }
    }

    &__top-header {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        background: $colorGradRedText;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        color: $colorWhite;
        padding-bottom: 8px;
    }

    &__top-text {
        font-weight: 400;
        font-size: 19px;
        line-height: 30px;
        text-align: center;
        color: $colorWhite;
        padding-top: 20px;
    }

    &__top-button {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        padding: 18px 30px;
        background: $colorRegular;
        box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
        border-radius: 12px;
        border: none;
        margin-top: 28px;
        margin-bottom: 30px;
    }

    &__top-button:hover {
        background: $colorHover;
    }

    &__btn {
        display: grid;
        row-gap: 30px;
    }

    &__btn::before {
        content: '';
        width: 100%;
        height: 4px;
        background: rgba(255, 255, 255, 0.5);
        display: flex;
    }

    &__btn-header {
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: $colorWhite;
    }

    &__btn-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: $colorWhite;
        position: relative;
        margin-left: 14px;

    }

    &__btn-text:not(:last-child) {
        padding-bottom: 15px;
    }

    &__btn-list {
        list-style: none;
        padding-left: 0;
    }

    &__btn-list:last-child {
        padding-bottom: 60px;
    }

    &__btn-text::before {
        content: '';
        display: inline-flex;
        width: 6px;
        height: 6px;
        background-color: $colorAccent;
        border-radius: 50%;
        top: 12px;
        left: -14px;
        position: absolute;
    }


    &__pic {
        width: 92px;
        height: 92px;
        background-color: $colorWhite;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 28px;
        border-radius: 24px;
    }

}

@media (min-width: 768px) {
    .service-entry {
        &__top-header {
            font-size: 38px;
            line-height: 46px;
        }

        &__btn {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: min-content min-content;
            column-gap: 60px;
        }

        &__btn::before {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        } 

        &__btn-header {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }

        &__btn-list {
            &--01 {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
            }
            &--02 {
                grid-column: 2 / 3;
                grid-row: 3 / 4;
            }
        }



    }
}