* {
    box-sizing: border-box;
    margin: 0;
}



*::after,
*::before {
    box-sizing: border-box;
}

.body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0 auto;
    min-width: 345px;

}

.fixed {
    overflow: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1350px;
    min-width: 345px;
    padding: 0 15px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}


a {
    text-decoration: none;
}
