.team-entry {
    padding: 0 45px 10px 45px;

    &__top {
        padding-bottom: 20px;
    }

    &__header {
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        background: $colorGradRedText;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        padding-top: 25px;
        padding-bottom: 15px;
    }

    &__position {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $colorText;
        padding-bottom: 10px;
    }

    &__link {
        display: inline-flex;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $colorRegular;
        padding-bottom: 10px;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        padding-bottom: 20px;
    }

    &__body {
        padding-top: 30px;
        border-top: solid 4px $colorDots;
    }

    &__body-header {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $colorMain;
        padding-top: 10px;
        padding-bottom: 15px;
    }

    &__pic {
        height: 375px;
        width: 100%;
        object-fit: contain;
        border-radius: 12px;
    }
}

@media (min-width: 768px) {
    .team-entry {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        align-items: center;

        &__pic {
            height: 375px;
            width: 300px;
            object-fit: cover;
            border-radius: 12px;
        }

        &__body {
            grid-column: 1 / -1;
        }

    }
}

@media (min-width: 1024px) {
    .team-entry {
        column-gap: 60px;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: min-content min-content;

        &__pic {
            align-self: flex-start;
            grid-row: 1 / -1;
            grid-column: 1 / 2;

        }

        &__top {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
        }

        &__body {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
        }
    }
}

@media (min-width: 1200px) {
    .team-entry {
        &__pic {
            min-width: 400px;
            min-height: 500px;
        }
    }
}
